*{
    margin: 0;
    padding: 0;
    text-align: center;
}
main{
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}
header{
    background-color: blue;
    flex-basis: 20%;
    display: flex;
}
aside{
    background-color: orange;
    flex-basis: 50%;
}
nav{
    background-color: brown;
    flex-basis: 50%;
}
section{
    background-color: green;
    flex-basis: 60%;
    display: flex;
}
.one{
    background-color: violet;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}
.aside-one{
    background-color: darkgreen;
    flex-basis: 25%;
}
.aside-two{
    background-color: blueviolet;
    flex-basis: 25%;
}
.aside-three{
    background-color: yellow;
    flex-basis:25% ;
}
.aside-four{
    background-color: springgreen;
    flex-basis: 25%;
}
.two{
    background-color: cadetblue;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;

}
.aside-top{
    background-color: springgreen;
    flex-basis: 50%;
}
.aside-bottom{
    background-color: slateblue;
    flex-basis: 50%;
}
.three{
    background-color: chartreuse;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}
.right-top{
    background-color: yellow;
    flex-basis: 50%;
}
.right-bottom{
    background-color: blue;
    flex-basis: 50%;
}
.four{
    background-color: tomato;
    flex-basis: 25%;
    display: flex;
}
.aside-left{
    background-color: red;
    flex-basis: 50%;
}
.aside-right{
    background-color: darkgreen;
    flex-basis: 50%;
}
footer{
    background-color: salmon;
    flex-basis: 20%;
}